{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
<div id="mypage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a target="_blank" href="#mypage" class="navbar-brand"><strong>Farming Advisory</strong></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#feed">Latest Feed</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <!--li><a href="#">CropPlan</a></li>
                <li><a href="#">MarketView</a></li-->
                    <!--{% if username is not None %}
                <li><a href="#">CropCare</a></li>
                <li><a href="#">Page 4</a></li>
                {% endif %} -->
                </ul>
                {% if username is None %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/FarmerAdvisory/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                    </li>
                    <li><a href="/FarmerAdvisory/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>
                            <strong>{{username}}</strong>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-login">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="text-center">
                                                <span class="glyphicon glyphicon-user icon-size"></span>
                                            </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="text-center"><strong>Welcome {{username}}</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="navbar-login navbar-login-session">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p>
                                                <a href="/FarmerAdvisory/logout"
                                                    class="btn btn-danger btn-block">Logout</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="mypage" class="jumbotron text-center" style="padding:150px 25px;">
        <h1>Farmer Advisory</h1>
        <p>We specialize in blablabla</p>
        <form class="form-inline">
            <div class="input-group">
                <input type="email" class="form-control" size="50" placeholder="Search your query..." required>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-danger">Search</button>
                </div>
            </div>
        </form>
    </div>


    <!-- Container (Services Section) -->
    <div class="container">
        <div id="services" class="container-fluid text-center">
            <h2>SERVICES</h2>
            <h4>What we offer</h4>
            <br>
            <!--sdjfsdjfsdf-->
            <div class="dairy_product_inner slideanim">
                <div class="row">
                    <div class="col-md-6 col-lg-6" onclick="myFunction()">
                        <div class="dairy_product_block" style="cursor: pointer;">
                            <div class="product_image"> <img src="{% static 'images/crop_care.png' %}" alt="image">
                            </div>
                            <div class="product_content">
                                <h4>Crop Care</h4>
                            </div> <span class="product_devider top_devider"></span> <span
                                class="product_devider"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6" onclick="myFunction2()">
                        <div class="dairy_product_block" style="cursor: pointer;">
                            <div class="product_image"> <img
                                    src="{% static 'images/crop_plan.png' %}"
                                    alt="image"></div>
                            <div class="product_content">
                                <h4>Crop Plan</h4>
                                <!--p>Dolor sit amet consectetur and the adipiscing elitd do eiusmod.
                    </p> <a href="#">Read More</a-->
                            </div> <span class="product_devider top_devider"></span> <span
                                class="product_devider"></span>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="dairy_product_block" style="cursor: pointer;">
                            <div class="product_image"> <img
                                    src="https://cdn.shortpixel.ai/client/q_lossy,ret_img/https://themes91.in/wp/cultivation/cultivation-home3/wp-content/uploads/sites/4/2019/07/dairy_cheese.png"
                                    alt="image"></div>
                            <div class="product_content">
                                <h4>MarketView</h4>
                                <!--p>Dolor sit amet consectetur and the adipiscing elitd do eiusmod.
                    </p> <a href="#">Read More</a-->
                            </div> <span class="product_devider top_devider"></span> <span
                                class="product_devider"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="dairy_product_block" style="cursor: pointer;">
                            <div class="product_image"> <img
                                    src="{% static 'images/chat.png' %}"
                                    alt="image"></div>
                            <div class="product_content">
                                <h4>Chat Portal</h4>
                                <!--p>Dolor sit amet consectetur and the adipiscing elitd do eiusmod.
                    </p> <a href="#">Read More</a-->
                            </div> <span class="product_devider top_devider"></span> <span
                                class="product_devider"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Container (Latest Feed Section) -->
    <div id="feed" class="container-fluid text-center bg-grey">
        <h2>Latest Feed</h2><br>
        <h4>What we have today for you!</h4>
        <div class="row text-center slideanim">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="{% static 'images/paris.jpg' %}" alt="Paris" width="400" height="300">
                    <p><strong>Feed 1</strong></p>
                    <p>Yes, we built Paris</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="{% static 'images/newyork.jpg' %}" alt="New York" width="400" height="300">
                    <p><strong>Feed 2</strong></p>
                    <p>We built New York</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="{% static 'images/sanfran.jpg' %}" alt="San Francisco" width="400" height="300">
                    <p><strong>Feed 3</strong></p>
                    <p>Yes, San Fran is ours</p>
                </div>
            </div>
        </div>

        <h2>What our customers say</h2>
        <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <h4>"This company is the best. I am so happy with the result!"<br><span>Michael Roe, Vice President,
                            Comment
                            Box</span></h4>
                </div>
                <div class="item">
                    <h4>"One word... WOW!!"<br><span>John Doe, Salesman, Rep Inc</span></h4>
                </div>
                <div class="item">
                    <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor,
                            FriendsAlot</span>
                    </h4>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>


    <!-- Container (About Section) -->
    <div id="about" class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>About Page</h2>
                <h4>Lorem ipsum..</h4>
                <p>Lorem ipsum..</p>
                <button class="btn btn-default btn-lg">Get in Touch</button>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-signal logo"></span>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-globe logo"></span>
            </div>
            <div class="col-sm-8">
                <h2>Our Values</h2>
                <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>
                <p><strong>VISION:</strong> Our vision Lorem ipsum..</p>
            </div>
        </div>
    </div>
    <br>
    <!-- Container (Pricing Section) -->
    <!--div class="container-fluid">
        <div class="text-center">
            <h2>Pricing</h2>
            <h4>Choose a payment plan that works for you</h4>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h1>Basic</h1>
                    </div>
                    <div class="panel-body">
                        <p><strong>Endless</strong> Amet</p>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-lg">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h1>Pro</h1>
                    </div>
                    <div class="panel-body">
                        <p><strong>Endless</strong> Amet</p>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-lg">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h1>Premium</h1>
                    </div>
                    <div class="panel-body">
                        <p><strong>Endless</strong> Amet</p>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-lg">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div-->

    <!-- Container (Contact Section) -->
    <div id="contact" class="container-fluid bg-grey">
        <h2 class="text-center">CONTACT</h2>
        <div class="row">
            <div class="col-sm-5">
                <p>Contact us and we'll get back to you within 24 hours.</p>
                <p><span class="glyphicon glyphicon-map-marker"></span> Punjab, India</p>
                <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
                <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
            </div>
            <div class="col-sm-7 slideanim">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Comment"
                    rows="5"></textarea><br>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-default pull-right" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Image of location/map -->
    <img src="{% static 'images/map.jpg' %}" style="width:100%">
    <!--footer-->
    <footer class="container-fluid text-center">
        <a href="#mypage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <p>footer</p>
    </footer>
    <!--div class="container" style="margin-top: 2%;">
    <div class="jumbotron" style="padding-top: 10%;">
      <h1>Bootstrap Tutorial</h1>
      <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing
      responsive, mobile-first projects on the web.</p>
      
    </div>
  </div-->
</div>
{% endblock %}

{% block script %}
<script>
    $(document).on('click', '.navbar-nav li', function () {
        $(".navbar-nav li").removeClass("active");
        $(this).addClass("active");
    });
    function myFunction() {
        var val = '{{username}}';
        if (val == "None")
            window.location.href = "/FarmerAdvisory/login";
        else
            window.location.href = "/FarmerAdvisory/cropHandling";

    }
    function myFunction2() {
        var val = '{{username}}';
        if (val == "None")
            window.location.href = "/FarmerAdvisory/login";
        else
            window.location.href = "/FarmerAdvisory/cropPlan";

    }
    $(document).ready(function () {
        // Add smooth scrolling to all links in navbar + footer link
        $(".navbar a, footer a[href='#mypage']").on('click', function (event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {

                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 900, function () {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });

        $(window).scroll(function () {
            $(".slideanim").each(function () {
                var pos = $(this).offset().top;

                var winTop = $(window).scrollTop();
                if (pos < winTop + 600) {
                    $(this).addClass("slide");
                }
            });
        });
    })
</script>
{% endblock script %}